<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>445863153457-kr4jmi12d9lao8035ssk3ie5g49kq587.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445863153457-kr4jmi12d9lao8035ssk3ie5g49kq587</string>
	<key>API_KEY</key>
	<string>AIzaSyCyiIEssNv0w2k-QqfgZepxv4iC4Zx4MZE</string>
	<key>GCM_SENDER_ID</key>
	<string>445863153457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nacho.PrimerProyecto</string>
	<key>PROJECT_ID</key>
	<string>primerproyecto-79dc7</string>
	<key>STORAGE_BUCKET</key>
	<string>primerproyecto-79dc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445863153457:ios:17999636e4f105c2</string>
	<key>DATABASE_URL</key>
	<string>https://primerproyecto-79dc7.firebaseio.com</string>
</dict>
</plist>